[aut]

# Endpoint URI to use
rpc_endpoint = https://rpc1.piccadilly.autonity.org/

# Location of keystore directory (defaults to ~/.autonity/keystore)
# keystore = path_to_keystore

# Keyfile to use by default
# keyfile = path_to_keyfile

# Default validator to interact with (for bonding / unbonding / claiming fees etc)
# validator = <validator-address>

# Default contract details to interact with
# address = <contract-address>
# abi = <contract-abi-file>
