[aut]

# Endpoint URI to use (if not specified on the CLI or via ENV vars)
rpc_endpoint = https://rpc1.piccadilly.autonity.org/

# Location of keystore directory
# keystore = path_to_keystore

# Keyfile to use by default
# keyfile = path_to_keyfile

# Default validator to interact with (for bonding / unbonding / claiming fees etc)
# validator = <validator-address>

# Default contract details to interact with
# contract_address = <contract-address>
# contract_abi = <contract-abi-file>

# TODO:
# address =
# chain_id =
